<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>restaurantweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>employeecontroller</display-name>
    <servlet-name>employeecontroller</servlet-name>
    <servlet-class>controller.employeecontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeecontroller</servlet-name>
    <url-pattern>/employeecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tablecontroller</display-name>
    <servlet-name>tablecontroller</servlet-name>
    <servlet-class>controller.tablecontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tablecontroller</servlet-name>
    <url-pattern>/tablecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dishcontroller</display-name>
    <servlet-name>dishcontroller</servlet-name>
    <servlet-class>controller.dishcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dishcontroller</servlet-name>
    <url-pattern>/dishcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefController</display-name>
    <servlet-name>ChefController</servlet-name>
    <servlet-class>controller.ChefController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefController</servlet-name>
    <url-pattern>/ChefController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaiterController</display-name>
    <servlet-name>WaiterController</servlet-name>
    <servlet-class>controller.WaiterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaiterController</servlet-name>
    <url-pattern>/WaiterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadservlet</display-name>
    <servlet-name>uploadservlet</servlet-name>
    <servlet-class>controller.uploadservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadservlet</servlet-name>
    <url-pattern>/uploadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>operationStatuscontroller</display-name>
    <servlet-name>operationStatuscontroller</servlet-name>
    <servlet-class>controller.operationStatuscontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operationStatuscontroller</servlet-name>
    <url-pattern>/operationStatuscontroller</url-pattern>
  </servlet-mapping>
</web-app>